.container1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 6px;
    cursor: pointer;
    font-size: 22px;
    height: 35px;
  }
  
  .container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  .container1:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container1 input:checked ~ .checkmark {
    background-color: black;
  }
    .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }  
  .container1 input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container1 .checkmark:after {
    left: 9px;
    top: 3px;
    width: 6px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  .list-group-item {
    width: 1261px;
  }
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 7px 16px 11px 16px;
  }
  
  .close:hover {
    background-color: black;
    color: white;
  }
  .resBut {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }